<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567883539164-ks4i1bmitqpj6a43ppeo0sda55dh3mvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567883539164-ks4i1bmitqpj6a43ppeo0sda55dh3mvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567883539164-v0a3lmma9jevep53k6kcnr7fd06jlv4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6UF1ppvfKpEBaNbZZwumrFbEahw2ItUA</string>
	<key>GCM_SENDER_ID</key>
	<string>567883539164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProjectApp</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-app-e8f94</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-app-e8f94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567883539164:ios:6472977b701dffe8d98a19</string>
</dict>
</plist>